<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Your Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <style>
      *{
        text-align: center;
      }

      .mb-0{
        font-size: 1.5em;
        font-weight: bold;
      }

      th{
        font-size: 1.3em;
      }


    </style>

    <nav>
      <label class="logo">Recipe App</label>
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="createrecipe.html">Create Recipe</a></li>
        <li><a href="viewrecipe.html">View Recipe</a></li>
        <li><a href="searchrecipe.html">Search Recipe</a></li>
        <li><a href="planmeal.html">Plan Meal</a></li>
        <li><a class="active" href="#">View Profile</a></li>
        <li><a href="logout.html">Logout</a></li>
      </ul>
    </nav>
    <br>

  </head>
  <body>

        <h1>Edit Profile</h1>
        <br/>
        <form th:action="@{/registered/save-profile}" th:object="${user}" method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label class="col-sm-3" th:text="'Name:'"></label>
                <div class="col-sm-8">
                    <!--
                    <input id="name" name="name" type="text" class="form-control" th:field="*{name}" th:required="true"
                        th:oninvalid="this.setCustomValidity('Name cannot be blank')"
                        th:oninput="this.setCustomValidity('')" placeholder="Enter Name"/>  -->
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3" th:text="'Email Id:'"></label>
                <div class="col-sm-8">
                    <!--
                    <input id="name" name="name" type="email" class="form-control" th:field="*{emailId}"
                        th:required="true"
                        th:oninvalid="this.setCustomValidity('EmailId cannot be blank')"
                        th:oninput="this.setCustomValidity('')"/> -->
                </div>
            </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3" th:text="'Username:'"></label>
                <div class="col-sm-8">
                    <!--
                    <input id="name" name="name" type="text" class="form-control" th:field="*{username}"
                        th:required="true"
                        th:oninvalid="this.setCustomValidity('Username cannot be blank')"
                        th:oninput="this.setCustomValidity('')"/>  -->
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3" th:text="'Password:'"></label>
                <div class="col-sm-8">
                    <!--
                    <input id="name" name="name" type="password" class="form-control" th:field="*{password}"
                        th:required="true"
                        th:oninvalid="this.setCustomValidity('Password cannot be blank')"
                        th:oninput="this.setCustomValidity('')"/>  -->
                </div>
            </div>

            <!-- <h4 th:utext="${err}"></h4>  -->
            <div class="row mb-3 justify-content-center">
                <div class="col-sm-4 center">
                    <button class="w-100 btn btn-lg btn-dark" type="submit">Save</button>
                </div>
            </div>
        </form>

  </body>
</html>