<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Planned Meal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>

      *{
        text-align: center;
      }

      th{
        font-size: 1.3em;
      }

      

    </style>

    <nav>
      <label class="logo">Recipe App</label>
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="createrecipe.html">Create Recipe</a></li>
        <li><a href="viewrecipe.html">View Recipe</a></li>
        <li><a href="searchrecipe.html">Search Recipe</a></li>
        <li><a class="active" href="#">Plan Meal</a></li>
        <li><a href="profile.html">View Profile</a></li>
        <li><a href="viewcart.html"><i class="fa fa-shopping-cart fa-2x text-dark"></i></a></li>
        <li><a href="logout.html">Logout</a></li>
      </ul>
    </nav>
    
  </head>
  <body>

    <br>
    <h1 style="font-size:  3.3em;">Planned Meal</h1>
    <br/>
    <th:block th:fragment="plan-table">
        <div class="container p-4 mt-2" >  <!-- th:if="${count &gt; 0}" -->
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Date To Be Made</th>
                    <th>Recipe Name</th>
                    <th>Time To Make</th>
                    <th>Author</th>
                    <th>Description</th>
                </tr>
                </thead>
                
                <tbody>
                <tr th:each="meal, mealStat :${meals}">
                    <td th:text="${mealStat.count}"></td>
                    <td th:text="${meal.dateToBeMade}"></td>
                    <td th:text="${meal.recipe.recipeName}"></td>
                    <td th:text="${meal.recipe.totalTime} + ' minutes'"></td>
                    <td th:text="${meal.recipe.author.name}"></td>
                    <td>
                        <form th:action="@{/registered/view-recipe(recipeId=${meal.recipe.id})}" th:object="${meal.recipe}"
                            method="post">
                            <button class="btn btn-dark" type="submit">View Recipe</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/registered/edit-meal(mealId=${meal.id})}" method="post">
                            <button class="btn btn-dark" type="submit">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/registered/delete-meal(mealId=${meal.id})}" method="post">
                            <button class="btn btn-dark" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container p-5 -mt-3" th:if="${count}==0">
            <h4 th:text="${message}"></h4>
        </div>

  </body>
</html>