<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Your Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
      *{
        text-align: center;
      }

      .mb-0{
        font-size: 1.5em;
        font-weight: bold;
      }

      th{
        font-size: 1.3em;
      }


    </style>

    <nav>
      <label class="logo">Recipe App</label>
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="createrecipe.html">Create Recipe</a></li>
        <li><a href="viewrecipe.html">View Recipe</a></li>
        <li><a href="searchrecipe.html">Search Recipe</a></li>
        <li><a href="planmeal.html">Plan Meal</a></li>
        <li><a class="active" href="#">View Profile</a></li>
        <li><a href="viewcart.html"><i class="fa fa-shopping-cart fa-2x text-dark"></i></a></li>
        <li><a href="logout.html">Logout</a></li>
      </ul>
    </nav>
    <br>

  </head>
  <body>

      <h1 style="font-size: 3.3em;">View Profile</h1><br>

        <div class="row">
          <div class="col-sm-8">
              <div class="card">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-sm-4">
                              <p class="mb-0">Full Name</p>
                          </div>
                      </div>
                      <hr>
                      <div class="row">
                          <div class="col-sm-4">
                              <p class="mb-0">Email</p>
                          </div>
                      </div>
                      <hr>
                      <div class="row">
                          <div class="col-sm-4">
                              <p class="mb-0">Username</p>
                          </div>
                      </div>
                      <hr>
                      
                      <div class="row">
                          <form th:action="@{/registered/edit-profile}" th:object="${user}" method="post">
                              <button class="btn btn-lg btn-dark" type="submit" >Edit Profile</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="card">
                  <div class="card-body">
                      <img src="AccountImage.png" height="220px">
                  </div>
              </div>
          </div>
      </div>

      <br>
      <h2>Recipes Created By You</h2>
      <div class="container p-4 mt-2" th:if="${count2 &gt; 0}">
          <table class="table">
              <thead>
              <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Prep Time</th>
                  <th>Date Added</th>
                  <th>Author Name</th>
                  <th>Description</th>
              </tr>
              </thead>
              <!--  make changes for data.
              <tbody>
              <tr th:each="recipe2 ,recipeStat2:${recipes2}">
                  <td th:text="${recipeStat2.count}"></td>
                  <td th:text="${recipe2.recipeName}"></td>
                  <td th:text="${recipe2.prepTime} + ' minutes'"></td>
                  <td th:text="${recipe2.dateAdded}"></td>
                  <td th:text="${recipe2.author.name}"></td>
                  <td>
                      <form th:action="@{/registered/view-recipe(recipeId=${recipe2.id})}" th:object="${recipe2}"
                            method="post">
                          <button class="btn btn-lg btn-dark" type="submit" th:text="'View Details'"></button>
                      </form>
                  </td>
              </tr>
              </tbody>
            -->
          </table>
      </div>
      <!-- 
      <div class="container p-5 -mt-3" th:if="${count2}==0">
          <h4 th:text="${message2}"></h4>
      </div>
      -->

      <h2>Your Favorite Recipes</h2>
      <!-- <div th:replace="/registered/fragment.html::recipe_table"> -->


  </body>
</html>